<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Courses </title>
    </head>
    <body>
      <h1><strong>Here you can check your enrolments </strong></h1>
      <form action="#" th:action="@{/searchcourses}" method="POST">
        <p><label for="studentnumber">Student number</label>: <input type="text" name="address" id="address"/></p>
        <p><input type="button" value="Download" /></p>
      </form>
      
      
      <p><a href="menu.html"> Back to menu</a></p>
    </body>
</html>

