<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Courses </title>
    </head>
    <body>
      <h1><strong>Here you can check your enrolments </strong></h1>
      <form action="#" th:action="@{/enrolments}" method="POST">
        <p><label for="studentnumber">Write your student number</label>: <input type="text" name="studentId" id="name"/></p>
        <p><input type="submit" value="Check enrolments" /></p>
      </form>
      <ul>
            <li th:each="course : ${enrolCourses}">
                <p> <span th:text="${course.getName()}">course</span> </p>
                <p><span th:text="${course.getNro()}">999</span> </p>
                <p><span th:text="${course.getTime()}">999</span> </p>
                <p><span th:text="${course.getDesc()}">999</span> </p>
            </li>
        </ul>
      
      
      <p><a href="menu.html"> Back to menu</a></p>
    </body>
</html>

