<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Weboodi </title>
    </head>
    <body>
      <h1><strong>Welcome to new Weboodi! </strong></h1>
      <ul>
          <li> <a href="courses.html" >Search courses </a></li>
          <li> <a href="records.html" >Transcript of records </a></li>
          <li> <a href="enrolments.html" >Enrolments </a></li>

      </ul>
      
      <p><input type="button" value="Log out" /></p>
        <p></p>
    </body>
</html>
